<div >
    <h2>Add Department</h2>
  <table>
    <tr>
      <td>Department Id</td>
      <td><input type="text" placeholder="Enter Department Id" [(ngModel)]="department.departmentId"/></td>
    </tr>
    <tr>
      <td>Department Name</td>
      <td><input type="text" placeholder="Enter Department Name" [(ngModel)]="department.departmentName"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Register" id="tbbtn"  (click)="addDepartment(department)"></td>
    </tr>
  </table>
  </div>
  